@model IEnumerable<Padelizou.Models.Dupla>

<div class="container mt-4">
    <h3 class="fw-bold mb-4">Ranking do Torneio</h3>

    <div class="card shadow-sm">
        <table class="table">
            <thead>
                <tr>
                    <th>Dupla</th>
                    <th>Desempenho</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dupla in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Perfil" asp-route-id="@dupla.Jogador1Id" class="text-decoration-none text-dark">@dupla.Jogador1.Nome</a> <br>
                            <small class="text-muted"><a asp-action="Perfil" asp-route-id="@dupla.Jogador2Id" class="text-decoration-none text-muted">@dupla.Jogador2.Nome</a></small>
                        </td>
                        <td>
                            <span class="badge bg-primary">@dupla.UltimaFase</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>